*{
    border: none;
    outline: none;
    text-decoration: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#cards {
    display: flex;
    width: 100%;
}
#title{
    font-size: 30px;
}
.card {
    padding: 40px;
    width: 100%;
    padding-left: 20px;
    height: 800px;
    flex-direction: row;
    display: flex;
}
#imagem {
    width: 30%;
}
img {
    height: 70%;
}
#content {
    float: right;
    display: block;
}
#price {
    display: flex;
    justify-content: center;
}
#description {
    text-align: center;
    margin: auto;
    width: 1000px;
}
footer{
    background-color: black;
    padding-top: 20px;
}
#footer_content {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: white;
}
#footer_social_media {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
#footer_contacts,#footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#footer_copyright {
    padding-top: 60px;
    justify-content: center;
    display: flex;
    color: white;
}
footer a {
    color: white;
}
h3 {
    justify-content: center;
    display: flex;
}
a {
    color: black;
}

